<!doctype html>
<html ng-app="zoomlinks" ng-csp>
<head>
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource-1.0.1.js"></script>
    <script src="js/angular-ui.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body style="width: 200px; height:120px; ">
<div ng-controller="MainCtr">
    <br/>
    <button ng-click="exportBookmarks()" class="e-action-btn" >Export bookmarks</button>
    <br/>
    <br/>
    <button ng-click="exportTabs()" class="e-action-btn" >Export tabs</button>

</div>
</body>
</html>
